# The ID of the spreadsheet to update.
# You can find the spreadsheet ID in a Google Sheets URL:
# https://docs.google.com/spreadsheets/d/[YOUR_SPREADSHEET_ID_HERE]/edit
SPREADSHEET_ID=your_spreadsheet_id_here

# Time when the daily reminder should be sent (24-hour format)
REMINDER_TIME=09:00
